* {
    margin: 0;
    padding: 0;
}

.navbar-menu{
    background-image: linear-gradient(270deg,#ff7400,#ff7b0d);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.titulo{
    color: #fff;
    font: inherit;
    font-size: 24px;
    text-decoration: none;
}

.titulo:hover{
    color: #fff;
    text-decoration: none;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
    font: inherit;
    margin-left: 2px;
    transition: 0.3s;
}

.nav-item a:hover{
    color: #000;
}

.container{
    margin: 0;
    padding: 0;
}

.barra-principal{
    max-width: 100%;
    padding: 18px 0;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.12); 
    margin-bottom: 12px;
    font-family: robotoslab-bold;
    font-size: 20px;
    text-align: center;
}

.barra-principal .barra-principal-user{
    color: #333;;
}

.barra-principal .barra-principal-credito{
    color: #e3672a;
}

.partidas{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 123.75rem;
}

.row.small-collapse > .column, .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}
.column, .row {
    transition: all .6s ease;
}
.large-offset-2 {
    margin-left: 8.33333% !important;
}
.large-20 {
    width: 83.33333%;
}