{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Bolao">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bolão LK</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-menu">
            <a class="titulo" href="#">Bolão LK</a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Início<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Partidas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resultados</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout">Sair</a>
                  </li>
                {% endif %}
              </ul>
        </nav>
        
      <div class="container">
            <div class="row barra-principal">
              <div class="col barra-principal-user">
                {{ user.get_username }}
              </div>
              <div class="col-6 barra-principal-credito">
                R$ {{ user.profile.credito }}
              </div>
              <div class="col barra-principal-apostas">
                {% if user.profile.apostou %} 
                  Você já apostou nessa rodada!
                {% else %}
                  Você ainda não apostou nessa rodada!
                {% endif %}
              </div>
            </div>

        <div class="row listagem_partidas">
          <div class="small-22 small-offset-1 large-20 large-offset-2 xxlarge-14 xxlarge-offset-5 column">
              <div class="row">
                <section class="partidas set-bg">
                  <div class="container">
                    <div class="row">
                        <div class="partidas-content">
                          <h4>Informe o placar para concluir</h4>
                          <div class="tabela-partida">
                            <table>
                              <tbody class="aposta">
                                <form action="/apostar" method="POST">
                                  {% csrf_token %}
                                  <tr class="tr-partidas">
                                      <td class="time-casa">
                                        <div class="alinhar">
                                            <div>
                                                <img src="{{ partida.iconTimeCasa }}" alt="{{ partida.timeCasa }}" width=”50” height=”50”/>
                                                <h6>{{ partida.timeCasa }}</h6>
                                            </div>
                                            <div>
                                                <label for="placar-casa">Placar</label>
                                                <input type="text" class="form-control" name="placar-casa" id="placar-casa" />
                                                <input type="hidden" value="{{ partida.timeCasa }}" name="time-casa" id="time-casa" />
                                            </div>
                                        </div>
                                      </td>
                                      <td class="versus">
                                          <div class="data-partida">{{ partida.dataPartida }}</div>
                                          <h4>VS</h4>
                                          <div class="data-partida">
                                            <input type="hidden" name="partidaID" id="partidaID" value="{{ partida.id }}"/>
                                            <button type="submit" class="btn btn-success" >
                                              Confirmar
                                            </button>
                                          </div>
                                      </td>
                                      <td class="time-visitante">
                                        <div class="alinhar">
                                            <div>
                                                <label for="placar-visitante">Placar</label>
                                                <input type="text" class="form-control" name="placar-visitante" id="placar-visitante" />
                                                <input type="hidden" value="{{ partida.timeVisitante }}" name="time-visitante" id="time-visitante" />
                                            </div>
                                            <div>
                                                <img src="{{ partida.iconTimeVisitante }}" alt="{{ partida.timeVisitante }}" width=”50” height=”50”/>
                                                <h6>{{ partida.timeVisitante }}</h6>
                                            </div>
                                        </div>
                                      </td>
                                  </tr>
                                </form>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                  </div>
                </section>
              </div>
          </div>
        </div>

      </div>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>